<h2>Juegos</h2> <!-- me imagino que aca debo modelar las tarjetas-->
<div class="juegos">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" class="columnaJuegos"> <!--algunas tarjetas quedan cortas-->
                    <div *ngFor="let juego of juegos">
                        <div class="card h-95">
                            <!-- Product image-->
                            <img class="card-img-top" src={{juego.imagen}} alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{juego.nombre}}</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0">
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" (click)="jugar(juego)">
                                        Jugar
                                    </button>
                                    <!--a class="btn btn-outline-dark mt-auto" href="#">View options</a>
                                    <!--por hacer: dar detalles-->
                                    <!--button class="btn btn-outline-dark mt-auto" (click)="puntuar(juego)">
                                        Puntuar
                                    </!--button-->

                                    <app-juego-detail [juego]="selectedJuego"
                                        [mostrar1]="detailsPressed">
                                    </app-juego-detail>

                                    <app-juego-jugar [juego]="selectedJuego"
                                        [mostrar2]="jugarPressed">
                                    </app-juego-jugar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <app-juego-detail [juego]="selectedJuego" [mostrar1]="detailsPressed"></app-juego-detail>
    <app-juego-jugar [juego]="selectedJuego" [mostrar2]="jugarPressed"></app-juego-jugar>

</div>