body {
    width: 100vw;
    margin: 0px;
}

h1+p {
    background-color: grey;
    color: blue;
    width: 400px;
    font-size: large;
}

p {
    background-color: yellow;
    width: 200px;
    font-style: italic;
    color: blue;
}

.container {
    width: 200px;
    height: 200px;
    background-color: black;
}

body div p {
    color: white;
    font-size: x-large;
}

button~p {
    color: blueviolet;
    background-color: blue;
}

button::after {
    content: "para salir";
    width: 100px;
}

#compras>p::before {
    content: "comprar ";
}

#compras {
    grid-template-columns: 3;
    align-items: center;
}

button {
    padding: 15px;
    margin: 50px;
}

#compras {

    /*text-align: right;*/
}

@media (width>450px) {
    div {
        background-color: red;
    }
}